body
{
  color: white;
  background: palegoldenrod;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

label {

background-color: white;
color: red;
font-size: 20px;
padding: 10px;
border-radius: 10px;
}

#h {

border-radius: 10px; ;
font-size: 25px;
padding: 10px;
margin: 10px;
width:30% ; 
}